<div class="top-banner" id="section-1">
  <div class="banner-content text-center">
    <%= image_tag("crawl-logo.png", height: 145, width: 200) %>
    <h1 class="title">Crawler</h1>
    <h3 class="tag">Your bar crawl, planned.</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for :search, html: {class: 'form-inline'}, url: "/events" , method: :get do |f| %>
          <%= f.input :city_name, collection: City.all.order(:city_name), value_method: :city_name, label_method: :city_name, label: false, include_blank: "City", input_html: {class: "input-lg"} %>
          <%= f.input :number_of_pubs, collection: 1..10, label: false, include_blank: "Number of Pubs" %>
          <%= f.submit "Search", class: "btn btn-lg event-search-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <a href="#section-2" class="glyphicon glyphicon-menu-down arrow-down js-anchor-link"></a>
  </div>
</div>
