<div class="top-banner" id="section-1">
  <div class="banner-content text-center">
    <%= image_tag("crawl-logo.png", height: 145, width: 200) %>
    <h1 class="title">Crawler</h1>
    <h3 class="tag">Your bar crawl, planned.</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for :index, html: {class: 'form-inline'}, url: "/pubs" , method: :get do |f| %>
            <div class="col-md-12">
                <%= f.input :city_name, collection: @cities.order(:city_name), value_method: :city_name, label_method: :city_name, label: false, include_blank: "City", input_html: {class: "input-lg"} %>
                <%= f.input :number_of_pubs, collection: 1..10, label: false, include_blank: "Number of pubs", input_html: {class: "input-lg"} %>
                <%= f.input :start_hour, collection: 1..12, label: false, include_blank: "Start Hour", input_html: {class: "input-lg"} %>
                <%= f.input :start_minute, collection: @minute_intervals, label: false,  include_blank: "Start Minute",input_html: {class: "input-lg"} %>
                <%= f.input :start_address, label: false, placeholder: "Start Address", input_html: {class: "input-lg"} %>
                <%= f.input :circuit_display, label: t('Circuit'), as: :boolean %>
                <%= f.input :circuit, as: :hidden, input_html: {value: false} %>
                <%= f.submit "Search", class: "btn btn-lg event-search-button" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="map-container" class="col-md-9">
        <div id="map"></div>
      </div>
      <div class="col-md-3" style="padding-left:0;border-width:5px;border-style: solid;border-color: white; margin-top:25px;border-radius: 16px 16px;height:400px; overflow:auto;" >
        <div class="pubs-list">
             <% @pubs.each do |pub| %>
                <div class="pub-container" style="background:white; opacity:0.5; border-radius:10px; height: 100px; width:100%; margin:10px">
                    <div class="pub-details" style="padding:10px; text-align: left; font-size: 16px;">
                        <%= pub.name %><br>
                        <%= pub.address %>
                    </div>
                </div>
             <% end%>
        </div>
      </div>
        <%= content_tag :div, class: "pubs_information", data: {pubs: @pubs} do %>
        <% end %>
        <script>
          function initMap() {
              var pubsObj = $('.pubs_information').data('pubs');
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: pubsObj[1].address,
                mapTypeControl: false,
            });
            directionsDisplay.setMap(map);
            directionsService.route({
                origin: pubsObj[1].address,
                destination: pubsObj[2].address,
                waypoints: [{ location: pubsObj[4].address, stopover: true}],
                travelMode: 'WALKING',
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    console.log(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
          }
        </script>

        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDEyA9ZpnnPaXHP_2mksVOPDrHoLvYEKg&callback=initMap">
        </script>
    <div class="col-md-12">
        <a href="#section-2" class="glyphicon glyphicon-menu-down arrow-down js-anchor-link"></a>
    </div>
  </div>
</div>
