<div class="top-banner" id="section-1">
  <div class="banner-content text-center">
    <%= image_tag("crawl-logo.png", height: 145, width: 200) %>
    <h1 class="title">Crawler</h1>
    <h3 class="tag">Your bar crawl, planned.</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for :index, html: {class: 'form-inline'}, url: "/pubs" , method: :get do |f| %>
            <div class="col-md-12">
                <%= f.input :city_name, collection: @cities.order(:city_name), value_method: :city_name, label_method: :city_name, label: false, include_blank: "City", input_html: {class: "input-lg"} %>
                <%= f.input :number_of_pubs, collection: 1..10, label: false, include_blank: "Number of pubs", input_html: {class: "input-lg"} %>
                <%= f.input :start_hour, collection: 1..12, label: false, include_blank: "Start Hour", input_html: {class: "input-lg"} %>
                <%= f.input :start_minute, collection: @minute_intervals, label: false,  include_blank: "Start Minute",input_html: {class: "input-lg"} %>
                <%= f.input :start_address, label: false, placeholder: "Start Address", input_html: {class: "input-lg"} %>
                <%= f.submit "Search", class: "btn btn-lg event-search-button" %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="map-container" class="col-md-9">
        <div id="map"></div>
      </div>
      <div class="col-md-3" style="border-width:5px;border-style: solid;border-color: white; margin-top:25px;border-radius: 16px 16px;height:400px; overflow:auto;" >
        <div class="pubs-list">
             <% @cities.each do |city| %>
                <h5 style="background:white; opacity:0.5; border-radius: 10px; height: 100px; width= 100%"><%= city.city_name%> </h5>
             <% end%>
        </div>
      </div>
          <script>
            function initMap() {
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA67RM_N6ENqtnfTq4ff9QOIKS6XBi09lM&callback=initMap">
          </script>
    <div class="col-md-12">
        <a href="#section-2" class="glyphicon glyphicon-menu-down arrow-down js-anchor-link"></a>
    </div>
  </div>
</div>
